<h1>We played Rock!</h1>
<% computer_move=["rock", "paper", "scissors"].sample %>
<h1>They played <%= computer_move%> </h1>

<%if computer_move=="rock"%>
  <h1>We tied!</h1>
<%elsif computer_move=="paper"%>
  <h1>We lost!</h1>
<% elsif computer_move=="scissors" %>
  <h1>We won!</h1>
<%end%>
